<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackLauncher,MissingLeanbackSupport">
    <queries>
        <package android:name="com.esaba.downloader" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="downloader" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".update.AppUpdateActivity"
            android:exported="false"
            android:theme="@style/Theme.Torve" />
    </application>
</manifest>
